@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Nunito&display=swap');

* {
	font-family: 'Nunito', sans-serif;
}

/*--navbar--*/

header {
	background-color: #fff;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand h1 {
	font-family: 'Bubblegum Sans', cursive;
	color: green;
}

.nav-link {
    color: rgba(0, 0, 0, 0.8);
}

.nav-link:hover {
	color: green;
}

.hvr-underline-from-center:before {
    background: green;
}

.navbar-text {
    padding-top: 0;
}

/*--hero-image--*/

#hero {
	background-color: #ffaeae;
  overflow: hidden;
}

.hero-image {
  height: 600px;
  background: url("/assets/img/hero-image.png") no-repeat right center;
  background-size: contain;
	align-items: center;
	position: relative;
}

@media only screen and (max-width: 768px) {
  .hero-image {
    height: 500px;
  }
}

@media only screen and (max-width: 425px) {
  .hero-image {
    height: 200px;
  }
}

.cover-text {
  background-color: #3875d2;
	color: #fff;
	padding: 3rem;
}

.cover-text--lg {
	width: 600px;
	top: 80px;
	left: 20px;
	position: absolute;
	border-radius: 50px; 
}

/*--about--*/


/*--our services--*/


/*--features--*/


/*--customer reviews--*/

.review-image {
	height: 400px;
	background: url('/assets/img/dog-owner.jpg') no-repeat center center;
	background-size: cover;
}

.carousel-item {
	height: 300px;
	margin-top: 50px;
	position: relative;
	border: #3875d2 1px solid;
  border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	color: #000;
}

.carousel-control-prev,
.carousel-control-next {
	color: green;
	font-size: 40px;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
	color: red;
}

.carousel-indicators [data-bs-target]  {
	background-color: green;
}

.carousel-indicators .active {
	background-color: blue;
}

.user-review {
	width: 70%;
	position: absolute;
	top: 10%;
	left: 15%;
}

/*--contact--*/

.contact-form {
	padding: 30px;
  border: #3875d2 1px solid;
  border-radius: 50px;
}

/*--footer--*/
#footer {
  background-color: #3875d2;
}

/*--Misc*/
.horizontal-line {
    height:2px;
      width: 40%;
      border: 0;
      color:green;
      opacity: 1;
      display: inline-block;
      margin-bottom: 4px;
}