@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=M+PLUS+1+Code&family=Open+Sans&family=Lato&display=swap');

/*----------------------------------------------general*/

:root {
	--primary-bg-color: #EAE6DC;
	--secondary-bg-color: #E1533C;
	--tertiary-bg-color: #FAF9F6;
	--primary-text-color: #E1533C;
	--secondary-text-color: #123c69;
	--tertiary-text-color: #FAF9F6;
	--brand-color: #fd3a4a;
	--brand-font: 'Bubblegum Sans', cursive;
	--title-font: 'Lato', sans-serif;
	--paragraph-font: 'Open Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
  }
  
#about,
#services,
#features,
#reviews,
#contact,
#footer {
	margin-top: 2.5rem;
	scroll-margin-top: 5em;
}

@media only screen and (max-width: 425px) {
	#about,
	#services,
	#features,
	#reviews,
	#contact,
	#footer {
		scroll-margin-top: 4em;
	}
}

@media only screen and (max-width: 768px) {
	#about,
	#services,
	#features,
	#reviews,
	#contact,
	#footer {
		scroll-margin-top: 3em;
	}
}

p, td { font-size: 1.125rem;}

h2, h4, h5 { font-family: var(--title-font);}

p, td, h6, li, .nav-tel { font-family: var(--paragraph-font);}

.section-heading-bg {
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
}

.section-heading h2 {
	font-size: 3rem;
	margin-top: 2rem;
	margin-bottom: 0;
	text-align: center;
}

.section-heading p {
	margin-bottom: 2rem;
	text-align: center;
}

.btn-main {
	font-family: var(--paragraph-font);
	background-color: var(--secondary-bg-color);
	color: var(--tertiary-text-color);
	border-color: var(--primary-text-color);
	font-weight: 700;
}

.icon {
	color: var(--primary-text-color);
}

/*----------------------------------------------navbar*/

header {
	background-color: var(--tertiary-bg-color);
}

.nav-link {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--secondary-text-color);
}

.navbar-brand h1 {
	font-family: 'Bubblegum Sans', cursive;
	color: var(--brand-color);
}

.nav-link:hover {
	color: var(--secondary-text-color);
}

.hvr-underline-from-center:before {
	background: var(--secondary-text-color);
}

.navbar-text {
	color: var(--secondary-text-color);
	font-weight: 700;
	font-size: 1rem;
	padding: 0;
}

.navbar-text .fa-phone-alt {
	font-size: 1.25rem;
}

.navbar-toggler {
	border: none;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*----------------------------------------------hero-image*/

.hero-bg {
	background-color: var(--primary-bg-color);
}

.hero-left {
	padding: 40px;
}

.hero-left h2 {
	color: var(--primary-text-color);
	line-height: 1.1;
	font-weight: 500;
}

.hero-left p {
	color: var(--secondary-text-color);
	font-weight: 400;
	line-height: 1.2;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.hero-right {
	height: 540px;
}

.hero-img-container {
	height: 400px;
	width: 400px;
	padding: 15px;
	background-color: var(--tertiary--bg-color);
	border: 3px solid var(--primary-text-color);
	border-radius: 50%;
	margin: 70px auto;
}

 .hero-img {
	background: url("../../assets/img/hero-img.png") no-repeat center center;
	height: 100%;
	width: 100%;
	background-color: var(--tertiary-bg-color);
	border-radius: 50%;
	object-fit: cover;
}

@media only screen and (max-width: 425px) {
	.hero-left {
	padding: 20px;
	}

	.hero-right {
		height: 300px;
	}

	.hero-img-container {
		height: 280px;
		width: 280px;
		margin: 10px auto;
	}
}

/*----------------------------------------------about*/

#about .fa-paw {
	font-size: 6rem;
	margin-bottom: -0.5rem;
	text-align: center;
}

/*----------------------------------------------services*/
   
.services-main {
	box-sizing: border-box;
	overflow: hidden;
	margin-top: 20px;
}

.services-img-container {
	height: 200px;
	width: 200px;
	padding: 15px;
	border: 1px solid var(--secondary-bg-color);
	border-radius: 50%;
	margin: 0 auto;
}

 .services-img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
 }

.services-desc {
	padding-top: 1rem;
}

/*----------------------------------------------features*/

.card-main {
	border: 0;
	box-sizing: border-box;
	overflow: hidden;
	margin-top: 20px;
}

.card-header {
	background-color: #fff;
	border: none;
}

.features-icon {
	font-size: 2.5rem;
}

.fa-circle {
	color: var(--primary-bg-color);
}

.card > hr {
	border-top: 2px solid var(--primary-text-color);
	width: 50%;
	opacity: 1;
	margin-left: 25%;
}

/*----------------------------------------------reviews*/

.reviews-bg {
	background-color: var(--secondary-text-color);
	height: 450px;
}

@media only screen and (max-width: 425px) {
	.reviews-bg {
		height: 620px;
	}
}

.carousel {
	margin-top: 50px;
	border: 2px solid var(--primary-text-color);
	border-radius: 50px;
}

.carousel-inner {
	border-radius: 50px;
}

.carousel-item {
	height: 350px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.9);
	color: #000;
}

@media only screen and (max-width: 425px) {
	.carousel-item {
		height: 520px;
	}
}

.carousel-indicators [data-bs-target] {
	background-color: transparent;
	height: 10px;
	width: 10px;
	border: 1px solid var(--secondary-text-color);
	border-radius: 50%;
}

.carousel-indicators .active {
	background-color: var(--secondary-text-color);
}

.user-review {
	width: 70%;
	position: absolute;
	top: 10%;
	left: 15%;
}

.fa-star {
	color: #FFA900;
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.quote {
	font-size: 5rem;
	color: var(--main-bg-color);
	margin: 185px auto;
}

/*----------------------------------------------contact*/

.contact-col-left {
	text-align: left;
}

.contact-info td {
	font-size: 1.375rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.contact-info a {
	color: inherit;
	text-decoration: none;
}

.contact-info a:hover {
	font-weight: 700;
}

.contact-form {
	color: var(--tertiary-text-color);
	background-color: var(--secondary-bg-color);
	padding: 20px 30px;
	border: 1px solid var(--primary-text-color);
	border-radius: 10px;
	box-sizing: border-box;
	text-align: center;
}

@media only screen and (max-width: 425px) {
	.contact-info {
		display: flex;
		justify-content: center;
	}

	.view-map-btn {
		text-align: center;
	}

	.contact-col-left,
	.contact-col-right {
		padding-bottom: 32px;
	}
}

/*----------------------------------------------footer*/

.footer-top {
	background-color: var(--primary-bg-color);
	padding-top: 1rem;
	color: var(--primary-text-color);
}

.footer-bottom {
	background-color: var(--tertiary-bg-color);
	padding-top: 1rem;
	color: var(--secondary-text-color);
}

.footer-top .fa-paw {
	font-size: 5rem;
	color: var(--brand-color);
	padding-top: 0.25rem;
	padding-left: 3rem;
}

.footer-top h4 {
	font-family: var(--brand-font);
	font-size: 2.5rem;
	font-weight: 500;
	color: var(--brand-color);
}

.footer-top h5 {
	color: var(--secondary-text-color);
	font-size: 1.5rem;
	font-weight: 500;
}

.footer-top a,
.footer-bottom a {
	color: inherit;
	text-decoration: none;
}

.footer-top a:hover,
.footer-bottom a:hover {
	font-weight: 700;
}

.footer-table td {
	padding-right: 1rem;
}

@media only screen and (max-width: 425px) {
	.footer-top {
		text-align: center;
	}

	.footer-top-col {
		padding-bottom: 2rem;
	}
	
	.footer-top .fa-paw {
		padding-left: 0;
	}

	.footer-table {
		margin-left: auto;
		margin-right: auto;
	}	
}

.social-media-icon {
	font-size: 2rem;
	margin-right: 1rem;
	opacity: 0.6;
}

.social-media-icon:hover {
	opacity: 1;
}

.signature {
	font-family: 'M PLUS 1 Code', cursive;
}

.hvr-pulse:hover {
	color: red;
}

/*----------------------------------------------hr*/

hr {
	border-top: 1px solid;
	color: inherit;
	width: 15%;
  	opacity: 1;
	display: inline-block;
	margin-bottom: 6px;
}

hr + .fa-bone {
	font-size: 1.25rem;
}

.hoz-line {
	text-align: center;
}
