@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=M+PLUS+1+Code&family=Open+Sans&family=Roboto+Slab&family=Montserrat&family=Lato&display=swap');

/*----------------------------------------------general*/

:root {
	--primary-bg-color: #e4efc2;
	--secondary-bg-color: #386A8A;
	--tertiary-bg-color: #FAF9F6;
	--primary-text-color: #5B7138;
	--secondary-text-color: #386A8A;
	--tertiary-text-color: #FAF9F6;
	--brand-color: #577A43;
	--brand-font: 'Bubblegum Sans', cursive;
	--title-font: 'Montserrat', sans-serif;
	--paragraph-font: 'Lato', sans-serif;
}

html {
	scroll-behavior: smooth;
  }
  
#about,
#treatments,
#reasons,
#reviews,
#contact,
#footer {
	margin-top: 2.5rem;
	scroll-margin-top: 5em;
}

@media only screen and (max-width: 425px) {
	#about,
	#treatments,
	#reasons,
	#reviews,
	#contact,
	#footer {
		scroll-margin-top: 4em;
	}
}

@media only screen and (max-width: 768px) {
	#about,
	#treatments,
	#reasons,
	#reviews,
	#contact,
	#footer {
		scroll-margin-top: 3em;
	}
}

p, 
td { 
	font-size: 1.125rem;
}

h2, 
h4, 
h5 { 
	font-family: var(--title-font);
	font-weight: 800;
}

.nav-tel,
p, 
h6, 
li { 
	font-family: var(--paragraph-font);
}

.section-heading-bg {
	color: var(--primary-text-color);
	background-color: var(--primary-bg-color);
}

.section-heading h2 {
	margin-top: 2rem;
	margin-bottom: 0;
	font-size: 3rem;
	text-align: center;
}

.section-heading p {
	margin-bottom: 2rem;
	text-align: center;
}

.btn-main {
	color: var(--tertiary-text-color);
	font-family: var(--paragraph-font);
	font-weight: 500;
	background-color: var(--secondary-bg-color);
}

.btn-main:hover {
	color: var(--tertiary-text-color);
	font-weight: 700;
}

.icon {
	color: var(--primary-text-color);
}

/*----------------------------------------------navbar*/

header {
	background-color: var(--tertiary-bg-color);
}

.nav-link {
	color: var(--secondary-text-color);
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}

.navbar-brand h1 {
	color: var(--brand-color);
	font-family: 'Bubblegum Sans', cursive;
}

.nav-link:hover {
	color: var(--secondary-text-color);
}

.hvr-underline-from-center:before {
	background: var(--secondary-text-color);
}

.navbar-text {
	padding: 0;
	color: var(--secondary-text-color);
	font-size: 1rem;
	font-weight: 700;
}

.navbar-text .fa-phone-alt {
	font-size: 1.25rem;
}

.navbar-toggler {
	border: none;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*----------------------------------------------hero-image*/

.hero-left {
	padding: 1.5rem 2rem 2rem;
	background-color: var(--primary-bg-color);
}

.hero-left h2 {
	color: var(--primary-text-color);
	line-height: 1.2;
	font-weight: 800;
}

.hero-left p {
	color: var(--secondary-text-color);
	line-height: 1.5;
	font-weight: 400;
}

.highlight {
	background-color: var(--tertiary-text-color);
}

.hero-right {
	padding-left: 0;
	padding-right: 0;
	background-color: var(--primary-bg-color);
}

.hero-img {
	height: 100%;
	width: auto;
	background: url("../../assets/img/hero-img.webp") no-repeat center center;
	background-size: cover;
}

@media only screen and (max-width: 425px) {
	.hero-left {
		padding: 20px;
	}

	.hero-right {
		height: 250px;
	}
}

/*----------------------------------------------about*/

#about .fa-paw {
	margin-bottom: -0.5rem;
	color: var(--brand-color);
	font-size: 6rem;
	text-align: center;
}

#about h2 {
	color: var(--primary-text-color);
}

/*----------------------------------------------treatments*/
   
.treatments-main {
	box-sizing: border-box;
	margin-top: 20px;
	overflow: hidden;
}

.treatments-img-container {
	height: 200px;
	width: 200px;
	margin: 0 auto;
	padding: 15px;
	border: 1px solid var(--secondary-bg-color);
	border-radius: 50%;
}

 .treatments-img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
 }

.treatments-desc {
	padding-top: 1rem;
}

/*----------------------------------------------reasons*/

.card-main {
	margin-top: 20px;
	border: 0;
	box-sizing: border-box;
	overflow: hidden;
}

.card-header {
	background-color: #fff;
	border: none;
}

.reasons-icon {
	font-size: 2.5rem;
}

.fa-circle {
	color: var(--secondary-text-color);
}

.card > hr {
	margin-left: 25%;
	width: 50%;
	border-top: 2px solid var(--primary-text-color);
	opacity: 1;
}

/*----------------------------------------------reviews*/

.reviews-bg {
	height: 450px;
	background-color: var(--secondary-text-color);
}

.carousel {
	margin-top: 50px;
	border-radius: 50px;
}

.carousel-inner {
	border-radius: 50px;
}

.carousel-item {
	position: relative;
	height: 350px;
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width: 424px) {
	.reviews-bg {
		height: 550px;
	}
	
	.carousel-item {
		height: 450px;
	}
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
	.reviews-bg {
		height: 500px;
	}
	
	.carousel-item {
		height: 400px;
	}
}

@media only screen and (min-width: 768px) {
	.reviews-bg {
		height: 450px;
	}
	
	.carousel-item {
		height: 350px;
	}
}

.carousel-indicators [data-bs-target] {
	height: 10px;
	width: 10px;
	background-color: transparent;
	border: 1px solid var(--secondary-text-color);
	border-radius: 50%;
}

.carousel-indicators .active {
	background-color: var(--secondary-text-color);
}

.user-review {
	position: absolute;
	top: 12%;
	left: 15%;
	width: 70%;
}

.fa-star {
	padding-bottom: 1rem;
	color: #FFA900;
	font-size: 1.5rem;
}

.quote {
	color: var(--primary-bg-color);
	margin: 185px auto;
	font-size: 5rem;
}

/*----------------------------------------------contact*/

.contact-col-left {
	text-align: left;
}

.contact-info td {
	padding-right: 1rem;
	padding-bottom: 1rem;
	font-size: 1.375rem;
}

.contact-info a {
	color: inherit;
	text-decoration: none;
}

.contact-info a:hover {
	font-weight: 700;
}

.view-map-btn {
	margin-left: 1.75rem;
}

.contact-form {
	padding: 20px 30px;
	box-sizing: border-box;
	text-align: center;
	color: var(--tertiary-text-color);
	background-color: var(--secondary-bg-color);
	border-radius: 10px;
}

.submit-btn {
	border: 1px solid var(--tertiary-text-color);
}

@media only screen and (max-width: 425px) {
	.contact-info {
		display: flex;
		justify-content: center;
	}

	.contact-col-left,
	.contact-col-right {
		padding-bottom: 32px;
	}

	.view-map-btn {
		margin-left: 0;
		text-align: center;
	}
}

/*----------------------------------------------footer*/

.footer-top {
	padding-top: 1rem;
	color: var(--secondary-text-color);
	background-color: var(--primary-bg-color);
}

.footer-top h5 {
	color: var(--primary-text-color);
	font-size: 1.5rem;
}

.footer-top h4 {
	color: var(--brand-color);
	font-family: var(--brand-font);
	font-size: 2.5rem;
	font-weight: 500;
}

.footer-bottom {
	padding-top: 1rem;
	color: var(--secondary-text-color);
	background-color: var(--tertiary-bg-color);
}

.footer-brand {
	margin-top: 0.5rem;
	color: var(--brand-color);
	text-align: center;
}

.footer-brand .fa-paw {
	font-size: 5rem;
}

.footer-top a,
.footer-bottom a {
	color: inherit;
	text-decoration: none;
}

.footer-top a:hover,
.footer-bottom a:hover {
	font-weight: 700;
}

@media only screen and (max-width: 425px) {
	.footer-top-col {
		padding-bottom: 2rem;
	}
}

@media only screen and (max-width: 768px) {
	.footer-top {
		text-align: center;
	}

	.footer-brand {
		padding-bottom: 1rem;
	}
}

.social-media-icon {
	margin: 0 0.5rem;
	font-size: 2rem;
	opacity: 0.6;
}

.social-media-icon:hover {
	opacity: 1;
}

.signature {
	font-family: 'M PLUS 1 Code', cursive;
}

.hvr-pulse:hover {
	color: red;
}

/*----------------------------------------------hr*/

hr {
	display: inline-block;
	margin-bottom: 6px;
	width: 15%;
	color: inherit;
	border-top: 1px solid;
	opacity: 1;
}

hr + .fa-bone {
	font-size: 1.25rem;
}

.hoz-line {
	text-align: center;
}
